<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExplosionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD47D6BA1C17D7850097240F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD47D6CE1C17D7850097240F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD47D6D91C17D7850097240F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
